<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <typeAliases>
    </typeAliases>


    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <mappers>

  
 
  
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/bd/web/mybatis/base/BaseCityMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/bd/web/mybatis/base/BaseDistrictMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/bd/web/mybatis/base/BaseEmMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/bd/web/mybatis/base/BaseProvinceMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/bd/web/mybatis/base/BaseTypeMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/counselor/CounselorExtInfoMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/counselor/CounselorInfoMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/counselor/CounselorInfoSnapshotMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/counselor/CounselorLoginLogMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/counselor/CounselorProfilesMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/counselor/CounselorProfilesSnapshotMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/counselor/CounselorRegisterLogMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/user/UserCardMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/user/UserCompanyMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/user/UserExtInfoMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/user/UserInfoMapper.xml"/>
 
  
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/user/UserInfoSnapshotMapper.xml"/>
 
  
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/user/UserLoginLogMapper.xml"/>
 
  
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/user/UserProfilesMapper.xml"/>
 
  
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/user/UserProfilesSnapshotMapper.xml"/>
 
  
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/user/UserRegisterLogMapper.xml"/>
 
  
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/counselor/CounselorAppointmentInfoMapper.xml"/>
 
  
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/counselor/CounselorProfessionalBackgroundMapper.xml"/>
 
  
  
  <mapper resource="com/bmind/e2c/web/mybatis/constant/ConstantMapper.xml"/>
 
  
  <mapper resource="com/bmind/e2c/web/mybatis/counselor/CounselorMethodMapper.xml"/>
 
  <mapper resource="com/bmind/e2c/web/mybatis/goods/GoodsVipCardSendMapper.xml"/>
 </mappers>
























































































</configuration>
